#!/usr/bin/make -f
# -*- makefile -*-
configure: configure-stamp
configure-stamp:
	cmake . -DCMAKE_INSTALL_PREFIX=/usr

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
clean:
	dh clean
	rm -f build-stamp configure-stamp
install: build
	dh_testdir
	dh install
# Build architecture-independent files here.
binary-indep: build install
	dh binary-indep

# Build architecture-dependent files here.
binary-arch: build install
	dh binary-arch

binary: binary-indep binary-arch
#override_dh_usrlocal:
.PHONY: build clean binary-indep binary-arch binary install configure #override_dh_usrlocal
